<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="flex flex-row">
      <a class="navbar-brand" [routerLink]="['']">
        <img src="./bookworm_logo.svg" alt="Logo" width="24" height="24" class="d-inline-block align-text-top mr-1">
        <span class="text-primary">Bookworm</span>
      </a>
      @if (authenticationService.isAuthenticate()) {
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['search']" routerLinkActive="active">Rechercher</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['favorites']" routerLinkActive="active">Favoris <span class="badge text-bg-secondary">{{ favoritesService.count() }}</span></a>
          </li>
        </ul>
      }
    </div>
    @if (authenticationService.isAuthenticate()) {
      <button type="button" class="btn" (click)="logout()">Se déconnecter</button>
    }
  </div>
</nav>
