<div class="container border rounded mt-3 p-3">
  @if (favoriteWorks().length > 0) {
    <h1>Liste de favoris</h1>
    <ul class="list-group list-group-flush">
      @for (work of favoriteWorks(); track $index) {
        <li class="list-group-item">
          <div class="row d-flex align-items-center">
            <div class="col-1">
              @if (work.photo != -1) {
@let imgSrc = searchService.getCover(work.photo, 'S');
              <img
                [src]="imgSrc"
                class="img-fluid rounded mx-auto d-block bg-secondary-subtle"
                [alt]="work.title.substring(0, 24)"
              />
              } @else {
                <app-missing-img></app-missing-img>
              }
              
            </div>
            <div class="col">
              <a [routerLink]="['/work', work.key]" class="h5">{{ work.title }}</a>
            </div>
            <div class="col-1">
              <button
                class="btn btn-outline-danger btn-sm"
                title="Retirer des favoris"
                (click)="this.favoritesService.removeFavorite(work.key)"
              >
                Retirer
              </button>
            </div>
          </div>
        </li>
      }
    </ul>
  } @else if (favoriteWorks().length == 0) {
    <div class="alert alert-light" role="alert">Pas de favoris pour le moment !</div>
  }
</div>
